html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use vh to ensure it takes the full viewport height */
}
